# Project Specific

# Diagram files
diagrams

# Database and data files
data/*
!data/NBA_AI_BASE.sqlite
!data/teams.json
!data/new_database_structure.md
!data/new_database_creation.sql

# Model files
models/*
!models/MLP_Regression_2024-07-30T14:08:12.793153.pth
!models/Ridge_Regression_2024-07-29T21:14:57.504620.joblib
!models/XGBoost_Regression_2024-07-29T21:33:17.702300.joblib

# Environment and build files
wandb
.nba_ai_venv
airflow
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Airflow specific
airflow
!airflow/dags/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Sphinx documentation
docs/_build/
