project:
  root: "${PROJECT_ROOT}"  # Should be updated in the .env file.

database:
  path: "data/NBA_AI_BASE.sqlite"  # <<< Set this to point to the database you want to use.

# Limited to avoid large volumes of calls to NBA Stats endpoints and long etl processes.
# Can be removed if desired. Database Updater should work for all season back to 2000-2001.
api:
  max_game_ids: 20 # Only applies to game_ids input of Games API. Not the date input.
  valid_seasons: 
    - "2023-2024"
    - "2024-2025"

openai:
  api_key: ${OPENAI_API_KEY}

web_app:
  secret_key: ${WEB_APP_SECRET_KEY} # Should be updated in the .env file. Will be set automatically if not set in .env

nba_api:
  pbp_live_endpoint: "https://cdn.nba.com/static/json/liveData/playbyplay/playbyplay_{}.json"
  pbp_stats_endpoint: "https://stats.nba.com/stats/playbyplayv3?GameID={}&StartPeriod=0&EndPeriod=0"
  schedule_endpoint: "https://stats.nba.com/stats/scheduleleaguev2?Season={season}&LeagueID=00"
  players_endpoint: "https://stats.nba.com/stats/commonallplayers?LeagueID=00&Season={season}"
  pbp_live_headers:
    Accept: "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9"
    Accept-Encoding: "gzip, deflate, br"
    Accept-Language: "en-US,en;q=0.9"
    Cache-Control: "max-age=0"
    Connection: "keep-alive"
    Host: "cdn.nba.com"
    User-Agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
  pbp_stats_headers:
    Host: "stats.nba.com"
    User-Agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:72.0) Gecko/20100101 Firefox/72.0"
    Accept: "application/json, text/plain, */*"
    Accept-Language: "en-US,en;q=0.5"
    Accept-Encoding: "gzip, deflate, br"
    x-nba-stats-origin: "stats"
    x-nba-stats-token: "true"
    Connection: "keep-alive"
    Referer: "https://stats.nba.com/"
    Pragma: "no-cache"
    Cache-Control: "no-cache"

  schedule_headers:
    User-Agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
    Referer: "https://stats.nba.com/schedule/"
    Accept: "application/json"
    Accept-Language: "en-US,en;q=0.9"
    Cache-Control: "no-cache"

# Manages which predictor is used for the database updates and games api
predictors:
  Best: "MLP" # Can be changed to any other predictor type based on preference (Random, Baseline, Linear, Tree, MLP)
  Random:
    class: "RandomPredictor"
  Baseline:
    class: "BaselinePredictor"
  Linear:
    class: "LinearPredictor"
    model_paths:
      - "models/Ridge_Regression_2024-07-29T21:14:57.504620.joblib"
  Tree:
    class: "TreePredictor"
    model_paths:
      - "models/XGBoost_Regression_2024-07-29T21:33:17.702300.joblib"
  MLP:
    class: "MLPPredictor"
    model_paths:
      - "models/MLP_Regression_2024-07-30T14:08:12.793153.pth"












  


